.celebrityimg {
  display:none;  
}

.celebrityimg img{
  float: left;
  width: auto;
  height: 200px;
}

#bestmatch{
  display: none;
}

.error{
  background-color: red;
  columns: red;
  border: red solid 4px;
}